.text ,
.h1 ,
.h2 ,
.h3 {

    text-align: center;
    background-color: #6b0808;
    color:yellow;


}




.text {

font-size: 24px;

}

.list {
background-color: #6b0808;
color:yellow;
font-size: 24px;
}

.h1 {

font-size: 48px;

}

.h2 {


font-size: 32px;

}

button {

    text-align:center;
    font-size:24px;
}

.h3 {


    font-size:30px;
}